html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #594f4f;
}

#title {
    color: #547980;
    margin-top: 8px;
}

#hamburger {
    background-image: url("../images/hamburger.svg");
    width: 33px;
    height: 31px;
    background-position-x: -10px;
    background-position-y: -15px;
    border: none;
    left: 10px;
    position: absolute;
    background-color: #594f4f;
    margin-top: 10px;
}

.searchButton {
    background-color: #594f4f;
    border: none;
    color: #e5fcc2;
}

.searchButton:hover {
    background-color: #547980;
}

.clickable:hover {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10px;
    background-color: #594f4f;
    overflow-x: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #e5fcc2;
    display: block;
}

.sidenav a:hover {
    color: #9de0ad;
}

#map {
    bottom:0px;
    top: 50px;
    height: 100%;
    left: 50px;
    position: absolute;
    right: 0px;
}

.link {
    display: flex;
    align-items: center;
}

.favorite {
    margin-right: 10px;
}

.favorited {
    color: #547980 !important;
}